
body {
  font-family: Arial;
  margin: 20px;
  background: #111;
  color: #eee;
}

h1 { text-align:center; }

input, button, textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

button {
  background: #2d6cdf;
  border: none;
  color: white;
}

#map {
  height: 350px;
  margin-top: 15px;
}

#dropZone {
  padding: 20px;
  border: 2px dashed #666;
  text-align: center;
  margin-top: 10px;
}

#dropZone.dragover {
  border-color: #2d6cdf;
  background: #222;
}
